/* Community Content Section */
.explore-content {
    padding: 50px 0 60px;
    text-align: center;
}

.explore-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.genre-tags {
    margin-bottom: 40px;
}

.genre-tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.genre-tag:hover {
    background-color: #0056b3;
}

/* Artworks Grid */
.artwork-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
}

.artwork-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px);
    min-width: 280px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.artwork-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.artwork-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.artwork-item:hover .artwork-hover {
    opacity: 1;
}

.art-details {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.art-details .name {
    text-align: start;
    padding: 0px 0px ;
}

.artist-details {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.artist-details .artist-avatar {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 100px;
}

.artist-avatar .name {
    padding: 0 5px;
}

.artist-details .likes {
    text-align: end;
    padding: 0 20px;
}

.see-more {
    text-align: center;
    margin-top: 30px;
}

.see-more .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.see-more .btn:hover {
    background-color: #0056b3;
}
