/*community content section*/
.hero-section {
    background-image: url('/src/Spiritual/spiritual-image.webp'); /* Replace with actual image path */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 130px 0;
    text-align: center;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    background-color: rgba(40, 123, 80, 0.5);
    backdrop-filter: blur(5px); 
    padding: 10px 20px;
    border-radius: 8px;
    font-family: "Inner", cursive;
}

.hero-section p {
    font-size: 1.5em;
    background-color: rgba(94, 127, 137, 0.5);
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    border-radius: 8px;
    font-family: "Inner", cursive;
}



.teachings-section {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.teachings-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.teachings-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.teaching-item {
    width: calc(30% - 20px);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.2em;
    color: #555;
    transition: opacity 0.3s ease-out;
}

.teaching-item:hover {
    transform: translateY(-1%);
}

.teaching-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.meditation-section {
    padding: 60px 0;
    background-color: #fff;
}

.meditation-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.meditation-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.meditation-item {
    width: calc(50% - 20px);
    text-align: center;
}

.meditation-item h4 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #555;
}

.events-section {
    padding: 60px 0;
    background-color: #f4f4f4;
}

.events-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.events-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.event-item {
    width: calc(50% - 20px);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-item h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
}

.event-item p {
    color: #666;
    margin-bottom: 20px;
}

.event-item .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.event-item .btn:hover {
    background-color: #0056b3;
}

/* Religious Discussions Section */
.religious-discussions-section {
    padding: 60px;
    background-color: #f4f4f4;
}

.religious-discussions-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.discussions-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: auto;
    justify-content: space-between;
}

.discussion-item {
    width: calc(45% - 20px);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.discussion-item img {
    height: 40px;
}

.discussion-item h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
    gap: 10px;
}

.discussion-item p {
    color: #666;
    margin-bottom: 20px;
}

.discussion-item .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.discussion-item .btn:hover {
    background-color: #0056b3;
}


/* Signup CTA Section */
.signup-cta-section {
    padding: 40px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
}

.signup-cta-section p {
    font-size: 1.5em;
    margin: 0;
}

.signup-cta-section .btn {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.signup-cta-section .btn:hover {
    background-color: #0056b3;
    color: white;
}



